.projects {
  grid-column: 1/-1;
}

.projects-list {
  padding: 0;
  list-style: none;
}

.projects-list li {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.project-date {
  color: var(--colorFg2);
}
