.rootLayout {
  width: 100%;
  max-width: 43rem;
  padding: 4rem 1.5rem;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 5rem;
  font-weight: 475;
  line-height: var(--baseLineHeight);
}

.header span {
  color: var(--colorFg2);
}
