.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 5rem;
  font-weight: 475;
  line-height: var(--baseLineHeight);
}

.header span {
  color: var(--colorFg2);
}

.intro {
  padding-bottom: 6rem;
}

.intro p {
  margin-bottom: 3rem;
}

.contactRow {
  display: grid;
  grid-template-columns: 5rem 1fr;
}

.contactLabel {
  color: var(--colorFg2);
}
