---
import Section from '@/components/Section.astro'
---

<Section tag="footer" className="footer">
  <a href="//github.com/chrstphrknwtn/chrstphrknwtn.com">Source</a>
</Section>

<style>
  .footer {
    padding-top: 8rem;
    padding-bottom: 1rem;
  }
</style>
