.footer-nav {
  grid-column: 1/-1;
}

.footer-nav ul {
  display: flex;
  padding: 4rem 0 0 0;
  gap: 2rem;
  list-style: none;
}

.footer-nav a {
  border-bottom: 1pt solid var(--colorFg2);
}

.footer-nav a:hover {
  border-color: orangered;
}
