---
import Section from '@/components/Section.astro'
---

<Section tag="footer" className="footer">
  <p>
    Copyright © 2024 Christopher Newton &mdash;{' '}
    <a href="//github.com/chrstphrknwtn/chrstphrknwtn.com">Source</a>
  </p>
</Section>

<style>
  .footer {
    padding-top: 8rem;
    padding-bottom: 1rem;
  }
</style>
