:root {
  --gridCenterColumnMax: var(--contentMaxWidth);
  --gridColumnGap: 1rem;
  --gridRowGap: 1rem;
  --gridTemplate: 1fr;

  /* 64rem - 1024p */
  @media (--large) {
    --gridTemplate: minmax(0, 1fr) minmax(auto, var(--gridCenterColumnMax))
      minmax(0, 1fr);
  }
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: var(--gridTemplate);
  column-gap: var(--gridColumnGap);
  row-gap: var(--gridRowGap);
  max-width: var(--gridMaxWidth);
  padding: var(--gridPaddingV) var(--gridPaddingH);
}

.grid .grid {
  padding: 0;
}

/* Required there be only two rows in the grid */
.grid.stretch {
  min-height: 100vh;
  grid-template-rows: auto 1fr;
}
