.site-header {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
}

.site-header a {
  border: 0 none;
}

.name h1,
.name h2 {
  margin-bottom: 0;
  font-size: inherit;
  font-weight: 500;
}

.site-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  text-align: right;

  @media (--medium) {
    display: unset;
  }
}

.site-nav .disable {
  color: var(--colorFg2);
  cursor: default;
}
