---
import Icon from '@/components/Icon.astro'
import Section from '@/components/Section.astro'

const links = [
  {
    aria: 'Send me an email',
    icon: 'email',
    label: 'hello@chrstphrknwtn.com',
    href: 'mailto:hello@chrstphrknwtn.com',
    external: true
  },
  {
    aria: 'View my GitHub Profile',
    icon: 'github',
    label: 'github/chrstphrknwtn',
    href: '//github.com/chrstphrknwtn',
    external: true
  },
  {
    aria: 'Connect with me on LinkedIn',
    icon: 'linkedin',
    label: 'in/chrstphrknwtn',
    href: '//www.linkedin.com/in/chrstphrknwtn',
    external: true
  }
]
---

<Section tag="header" className="header">
  <h1>Christopher Newton</h1>

  <ul id="header-nav">
    {
      links.map(link => (
        <li>
          <a
            aria-label={link.aria}
            href={link.href}
            target={link.external ? '_blank' : ''}
            rel="noreferrer">
            {link.icon && <Icon name={link.icon} />}
            <span class="link-label">{link.label}</span>
          </a>
        </li>
      ))
    }
  </ul>
</Section>

<style>
  .header {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 2rem;
    justify-content: space-between;
    align-items: center;

    @media (--viewport-phablet) {
      align-items: flex-start;
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }

  h1 {
    font-size: inherit;
    font-weight: inherit;
    line-height: var(--baseLineHeight);
    margin: 0;
  }

  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 0.25rem;

    @media (--viewport-phablet) {
      flex-direction: column;
    }
  }

  li {
    min-height: var(--baseLineHeight);
    color: var(--colorAccentDark);

    @media (--viewport-phablet) {
      margin: 0 0 0.5rem 0;
      color: var(--colorForegroundMuted);
    }
  }

  a {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    border: 0 none;
    padding: 0.75rem;

    @media (--viewport-phablet) {
      padding: 0;
    }
  }

  .link-label {
    display: none;
    margin-left: 0.5rem;
    color: var(--colorForeground);
    border-bottom: 2px solid var(--colorAccent);
    transition: border 125ms ease-in-out;

    &:hover {
      border-color: var(--colorAccentDark);
    }

    @media (--viewport-phablet) {
      display: initial;
    }
  }
</style>
