.content-header {
  padding-bottom: 3rem;
}

.content-header a {
  border: 0 none;
}

.name h1,
.name h2 {
  margin-bottom: 0;
  font-size: inherit;
  font-weight: 400;
}

.title {
  color: var(--colorFg2);
}

.content-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 2rem;
}

.content-nav li a:before {
  content: '↳';
}

.content-nav .active {
  color: var(--colorAccent);
  cursor: default;
}
