---
import '@/global.css'
import 'node_modules/modern-normalize/modern-normalize.css'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Product Designer · Christopher Newton</title>
    <meta
      name="description"
      content="Profile and recent work of Seattle-based designer Christopher Newton."
    />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
