---
import 'modern-normalize/modern-normalize.css'
import '@/styles/global.css'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Product Designer · Christopher Newton</title>
    <meta
      name="description"
      content="Profile and recent work of Seattle-based designer Christopher Newton."
    />
  </head>
  <body>
    <slot />
  </body>
</html>
