---
interface Props {
  className?: string
  tag?: 'article' | 'header' | 'section' | 'footer'
}

const { className = '', tag = 'section', ...rest } = Astro.props
---

{
  tag === 'article' && (
    <header class={className} {...rest}>
      <slot />
    </header>
  )
}

{
  tag === 'header' && (
    <header class={className} {...rest}>
      <slot />
    </header>
  )
}

{
  tag === 'section' && (
    <section class={className} {...rest}>
      <slot />
    </section>
  )
}

{
  tag === 'footer' && (
    <footer class={className} {...rest}>
      <slot />
    </footer>
  )
}

<style>
  article,
  header,
  section,
  footer {
    width: 100%;
    max-width: 80rem;
    padding-right: 1rem;
    padding-left: 1rem;

    @media (--viewport-phablet) {
      padding-right: 3rem;
      padding-left: 3rem;
    }
  }
</style>
