.page-grid {
  padding-top: 0.5rem;
}

.screenshot {
  grid-column: span 2;
  text-align: center;

  @media (--medium) {
    text-align: unset;
  }

  @media (--large) {
    grid-column: span 3;
  }
}

.intro {
  grid-column: span 2;
  text-align: center;

  @media (--medium) {
    padding-top: 1rem;
    text-align: unset;
  }
}

.intro h1 {
  margin-bottom: 1rem;
}
