@font-face {
  font-family: Sans;
  font-style: normal;
  font-weight: 100 900;
  font-display: auto;
  src: url('/font/InterVariable.woff2') format('woff2');
}
:root {
  font-family: Sans, system-ui, sans-serif;
}

:root {
  --baseFontSize: 1rem; /* 16px */
  --baseFontWeight: 350;
  --baseLineHeight: 1.5rem; /* 24px */
  --baseFontFeatures: 'dlig' 1, 'cv09' 1, 'cv03' 1, 'cv04' 1, 'cv06' 1, 'cv05' 1;

  --monoFont: ui-monospace, monospace;
  --monoFontSize: 0.9375rem;

  /** Variable also in dark mode */
  --colorFg: #1a1a1a;
  --colorFg2: #222;
  --colorFg3: #bbb;
  --colorBg: #fff;
  --colorBg2: #f0f0f0;

  /* Elements */
  --contentMaxWidth: 32rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --colorFg: #fff;
    --colorFg2: #999;
    --colorFg3: #444;

    --colorBg: rgb(15, 15, 13);
    --colorBg2: #1d1d1d;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 100%; /* 16px rem */
  overflow: auto;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: var(--baseFontFamily);
  font-size: var(--baseFontSize);
  font-weight: var(--baseFontWeight);
  font-feature-settings: var(--baseFontFeatures);
  line-height: var(--baseLineHeight);
  color: var(--colorFg);
  background-color: var(--colorBg);
  overflow: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem 0;
  font-size: var(--baseFontSize);
  font-weight: 475;
}

p + h2,
ul + h2,
ol + h2 {
  margin-top: 1.5rem;
}

p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 1rem;
  text-wrap: balance;
  color: var(--colorFg2);
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 75ms ease-out;
}

p > a,
li > a {
  text-decoration: underline;
}

blockquote {
  margin: 2rem 0;
  padding: 0 1rem;
  border-left: solid 1pt var(--colorFg3);
}

blockquote > p {
  margin: 0;
}

code {
  font-family: var(--monoFont);
  font-size: var(--monoFontSize);
}
