@import 'https://chrstphrknwtn.github.io/eb-garamond/eb-garamond.css';

@custom-media --medium (min-width: 40rem); /* 640 */
@custom-media --large (min-width: 64rem); /* 1024 */

:root {
  --baseFontFamily: 'EB Garamond', Times, sans-serif;
  --baseFontSize: 1.1875rem; /* 19px */
  --baseLineHeight: 1.3157894737; /* ~25px */
  --baseFontFeatures: 'liga' 1, 'onum' 1;

  /** Variable also in dark mode */
  --colorFg: #1a1a1a;
  --colorFg2: #888;
  --colorFg3: #ddd;
  --colorBg: #fff;
  --colorBg2: #f0f0f0;

  /* Elements */
  --anchorBorderRadius: 0.25rem;
  --figureBorderRadius: 0.25rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --colorFg: #fff;
    --colorFg2: #747474;
    --colorFg3: #333;
    --colorBg: #131313;
    --colorBg2: #1d1d1d;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: var(--baseFontFamily);
  font-size: 100%; /* 16px rem */
  overflow: auto;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-feature-settings: var(--baseFontFeatures);
  font-size: var(--baseFontSize);
  line-height: var(--baseLineHeight);
  font-weight: normal;
  color: var(--colorFg);
  background-color: var(--colorBg);
  overflow: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 
 *
 * Typography
 *
 */

/* Typography Resets */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
}

h2,
h3,
h4,
h5,
h6 {
  font-size: var(--baseFontSize);
}

p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 1rem;
  text-wrap: balance;
}

p {
  letter-spacing: 0.01em;
}

/* Character Styles */
.subhead {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  font-feature-settings: 'smcp' 1, 'c2sc' 1;
  letter-spacing: 0.1em;
}

.smcp {
  text-transform: lowercase;
  font-size: 1.1em;
  font-feature-settings: var(--baseFontFeatures), 'smcp' 1, 'c2sc' 1;
  letter-spacing: -0.03em;
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
  transition: color 75ms ease-out, border-color 75ms ease-out;
}

a:hover {
  color: orangered;
  border-color: orangered;
}

p > a {
  text-decoration: underline;
}

/* 
 *
 * Figures
 *
 */

img {
  max-width: 100%;
  object-fit: contain;
}
