@custom-media --medium (min-width: 40rem); /* 640 */
@custom-media --large (min-width: 64rem); /* 1024 */

:root {
  --baseFontSize: 1rem; /* 16px */
  --baseLineHeight: 1.5; /* 24px */
  --baseFontFeatures: 'liga' 1, 'calt' 1, 'ss03' 1, 'cv01' 1, 'cv09' 1, 'cv03' 1,
    'cv04' 1, 'cv06' 1;

  /** Variable also in dark mode */
  --colorFg: #1a1a1a;
  --colorFg2: #888;
  --colorFg3: #ddd;
  --colorBg: #fff;
  --colorBg2: #f0f0f0;

  /* Elements */
  --anchorBorderRadius: 0.25rem;
  --figureBorderRadius: 0.25rem;
}

/* Webfonts */
:root {
  font-family: Inter, system-ui, sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, system-ui, sans-serif;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --colorFg: #fff;
    --colorFg2: #747474;
    --colorFg3: #333;
    --colorBg: #020202;
    --colorBg2: #1d1d1d;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 100%; /* 16px rem */
  overflow: auto;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-feature-settings: var(--baseFontFeatures);
  font-size: var(--baseFontSize);
  line-height: var(--baseLineHeight);
  font-weight: normal;
  color: var(--colorFg);
  background-color: var(--colorBg);
  overflow: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
}

h1,
h2 {
  font-size: 2rem;
  line-height: 1.3;
}

h3,
h4,
h5,
h6 {
  font-size: var(--baseFontSize);
}

p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 1rem;
  text-wrap: balance;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 125ms ease-out;
}

a:hover {
  color: orangered;
}

p > a {
  text-decoration: underline;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.encircle {
  font-feature-settings: 'ss05' 1;
}
